.u-section-1 .u-sheet-1 {
    min-height: 501px;
}

.u-section-1 .u-text-1 {
    font-weight: 700;
    margin: 59px auto 0;
}

.u-section-1 .u-form-1 {
    width: 570px;
    margin: 29px auto 59px;
}

@media (max-width: 767px) {
    .u-section-1 .u-form-1 {
        width: 540px;
    }
}

@media (max-width: 575px) {
    .u-section-1 .u-form-1 {
        width: 340px;
    }
}
