.u-section-1 .u-sheet-1 {
  min-height: 533px;
}

.u-section-1 .u-shape-1 {
  height: 387px;
  width: 596px;
  margin: 114px auto 0 20px;
}

.u-section-1 .u-image-1 {
  width: 587px;
  height: 376px;
  margin: -422px auto 0 71px;
}

.u-section-1 .u-text-1 {
  margin: 0 286px 0 325px;
}

.u-section-1 .u-text-2 {
  text-align: start;
  margin: -360px 322px 0 690px;
}

.u-section-1 .u-text-3 {
  text-align: start;
  margin: -25px 0 0 838px;
}

.u-section-1 .u-text-4 {
  text-align: start;
  margin: 17px 68px 0 838px;
}

.u-section-1 .u-text-5 {
  text-align: start;
  margin: -25px 322px 0 690px;
}

.u-section-1 .u-text-6 {
  text-align: start;
  margin: 17px 185px 0 838px;
}

.u-section-1 .u-text-7 {
  margin: -25px 322px 0 690px;
}

.u-section-1 .u-text-8 {
  text-align: start;
  margin: 17px 174px 0 838px;
}

.u-section-1 .u-text-9 {
  text-align: start;
  margin: -25px 308px 0 690px;
}

.u-section-1 .u-text-10 {
  text-align: start;
  margin: 17px 322px 0 690px;
}

.u-section-1 .u-text-11 {
  text-align: start;
  margin: -25px -50px 0 838px;
}

.u-section-1 .u-text-12 {
  text-align: start;
  margin: 17px 322px 0 690px;
}

.u-section-1 .u-text-13 {
  text-align: start;
  margin: -25px 185px 0 838px;
}

.u-section-1 .u-text-14 {
  text-align: start;
  margin: 17px 322px 0 690px;
}

.u-section-1 .u-text-15 {
  text-align: start;
  margin: -25px -50px 0 838px;
}

.u-section-1 .u-text-16 {
  text-align: start;
  margin: 17px 322px 0 690px;
}

.u-section-1 .u-text-17 {
  text-align: start;
  margin: -50px -50px 25px 838px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    margin-right: 222px;
    margin-left: 590px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 638px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 638px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 222px;
    margin-left: 590px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 85px;
    margin-left: 738px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 222px;
    margin-left: 590px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 74px;
    margin-left: 738px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 208px;
    margin-left: 590px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 222px;
    margin-left: 590px;
  }

  .u-section-1 .u-text-11 {
    margin-left: 738px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 222px;
    margin-left: 590px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 85px;
    margin-left: 738px;
  }

  .u-section-1 .u-text-14 {
    margin-right: 222px;
    margin-left: 590px;
  }

  .u-section-1 .u-text-15 {
    margin-left: 738px;
  }

  .u-section-1 .u-text-16 {
    margin-right: 222px;
    margin-left: 590px;
  }

  .u-section-1 .u-text-17 {
    margin-left: 738px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 214px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 112px;
    margin-left: 480px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 418px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 418px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 112px;
    margin-left: 480px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
    margin-left: 603px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 112px;
    margin-left: 480px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 0;
    margin-left: 592px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 98px;
    margin-left: 480px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 112px;
    margin-left: 480px;
  }

  .u-section-1 .u-text-11 {
    margin-left: 628px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 112px;
    margin-left: 480px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 0;
    margin-left: 603px;
  }

  .u-section-1 .u-text-14 {
    margin-right: 112px;
    margin-left: 480px;
  }

  .u-section-1 .u-text-15 {
    margin-left: 603px;
  }

  .u-section-1 .u-text-16 {
    margin-right: 112px;
    margin-left: 480px;
  }

  .u-section-1 .u-text-17 {
    margin-left: 628px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 503px;
  }

  .u-section-1 .u-shape-1 {
    width: 540px;
    margin-top: 127px;
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 346px;
    margin-left: 0;
  }

  .u-section-1 .u-text-1 {
    margin-top: -336px;
    margin-right: 161px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 22px;
    margin-left: 390px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 238px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 238px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 22px;
    margin-left: 390px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 423px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 22px;
    margin-left: 390px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 412px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 8px;
    margin-left: 390px;
  }

  .u-section-1 .u-text-10 {
    margin-top: 67px;
    margin-right: 22px;
    margin-left: 390px;
  }

  .u-section-1 .u-text-11 {
    margin-top: -33px;
    margin-left: 538px;
  }

  .u-section-1 .u-text-12 {
    margin-top: -25px;
    margin-right: 22px;
    margin-left: 390px;
  }

  .u-section-1 .u-text-13 {
    margin-top: -75px;
    margin-left: 423px;
  }

  .u-section-1 .u-text-14 {
    margin-top: 75px;
    margin-right: 22px;
    margin-left: 390px;
  }

  .u-section-1 .u-text-15 {
    margin-left: 423px;
  }

  .u-section-1 .u-text-16 {
    margin-top: 30px;
    margin-right: 22px;
    margin-left: 390px;
  }

  .u-section-1 .u-text-17 {
    margin-top: -185px;
    margin-left: 538px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 375px;
  }

  .u-section-1 .u-shape-1 {
    width: 340px;
    margin-top: 114px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 218px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -208px;
    margin-right: 101px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 212px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 38px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 38px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
    margin-left: 212px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 223px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 0;
    margin-left: 212px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 212px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 0;
    margin-left: 198px;
  }

  .u-section-1 .u-text-10 {
    margin-top: 317px;
    margin-right: 0;
    margin-left: 212px;
  }

  .u-section-1 .u-text-11 {
    margin-top: -283px;
    margin-left: 438px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 0;
    margin-left: 212px;
  }

  .u-section-1 .u-text-13 {
    margin-top: -325px;
    margin-left: 223px;
  }

  .u-section-1 .u-text-14 {
    margin-top: 575px;
    margin-right: 0;
    margin-left: 212px;
  }

  .u-section-1 .u-text-15 {
    margin-left: 223px;
  }

  .u-section-1 .u-text-16 {
    margin-top: 18px;
    margin-right: 0;
    margin-left: 212px;
  }

  .u-section-1 .u-text-17 {
    margin-top: -673px;
    margin-left: 438px;
  }
}.u-section-2 .u-sheet-1 {
   min-height: 465px;
 }

.u-section-2 .u-table-1 {
  width: 1194px;
  margin: 45px auto 60px -21px;
}

.u-section-2 .u-table-entity-1 {
  min-height: 100px;
}

.u-section-2 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-2 .u-table-1 {
    width: 940px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-table-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-table-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-table-1 {
    width: 340px;
  }
}

.show-read-more .more-text {
  display: none;
}

.white-popup-block {
  background: #FFF;
  padding: 20px 30px;
  text-align: left;
  max-width: 650px;
  margin: 40px auto;
  position: relative;
}
